<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>Templates</h2>
  <div *ngIf="numbers$ | async as number; else pendingOrError">
    <div *ngIf="!number.length">
      Empty
    </div>
    {{number}}
  </div>
  <ng-template #pendingOrError>
    Pending or Error
  </ng-template>



  <h2>Pipes</h2>
  <div *ngIf="numbers$ | pending | async">
    Pending
  </div>
  <div *ngIf="numbers$ | empty | async">
    Empty
  </div>
  <div *ngIf="numbers$ | error | async as error">
    {{error}}
  </div>
  <div *ngIf="numbers$ | async as n">
    {{n}}
  </div>
</ion-content>